:root {
    --col-1: rgb(255, 236, 236);
    --col-2: rgb(54, 28, 28);
    --col-3: rgb(255, 200, 188);
}

img {
    max-width: 100%;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 253, 251);
    padding: 15px;

    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;

    img {
        height: 100px;
        width: 100px;
    }

    h1 {
        font-size: 50px;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    nav {
        display: block;
    }
}

.req {
    color: rgba(255, 103, 103, 0.76);
}

nav {
    border-bottom: 1px solid black;
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;

    a {
        width: 100px;
        max-height: 90%;
        background-color: var(--col-1);
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        padding: 5px;
        transition: all 500ms;
        font-size: 14px;
        border: 2px solid black;
        box-shadow: 2px 2px 2px var(--col-2);
    }

    a:hover {
        width: 120px;
        height: 92%;
        font-size: 15px;
    }
}

.disabled {
    background-color: var(--col-3);
    text-decoration: underline;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}

.flex-container-row {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;

    img {
        aspect-ratio: attr(width) / attr(height);
        height: auto;
        width: 80%;
        transition: all 300ms;
        transition-timing-function: ease-in-out;
    }

    img:hover {
        height: auto;
        width: 85%;
        box-shadow: 0.4rem 0.4rem 0.2rem black;
    }
}

main {
    margin-top: 0.6rem;
    background-color: var(--col-3);
    padding-bottom: 0.6rem;
    padding-top: 0.3rem;
    align-items: center;
    text-align: start;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 0.6rem;
    font-family: "Oswald";

    h2 {
        font-size: 3.1rem;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        background-color: var(--col-1);
        color: var(--col-2);
    }

    h2:hover {
        font-size: 3.4rem;
        color: var(--col-3);
    }
}

section {
    margin-top: 10px;
    background-color: var(--col-3);
    padding-bottom: 10px;
    padding-top: 5px;
    align-items: center;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

body {
    background-color: var(--col-1);
    margin: 0;
    line-height: 1.5;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}

table {
    background-color: var(--col-1);
    border: 2px solid var(--col-2);
    align-self: center;
    justify-self: center;
    padding: 2px;
}

input {
    transition: all 200ms;
}

input[type="text"] {
    width: 80%;
    justify-self: center;
    text-align: start;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    padding: 5px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

input[type="tel"] {
    width: 80%;
    justify-self: center;
    text-align: start;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    padding: 5px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

input[type="email"] {
    width: 80%;
    justify-self: center;
    text-align: start;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    padding: 0.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

input:focus {
    outline-color: var(--col-3);
    height: 3rem;
}

textarea {
    resize: none;
    align-self: center;
    justify-self: center;
    text-align: start;
    height: 2.5rem;
    width: 80%;
    border: none;
    padding: 0.5rem;
    border-radius: 1.25rem;
    transition: all 200ms;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

textarea:focus {
    outline-color: var(--col-3);
    height: 3rem;
}